<% layout('layout/boilerplate') %>

<style>
    body {
        background-color:white;
    }

    h1 {
        font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    }

    p {
        font-family: 'Open Sans', sans-serif;
    }

    .container {
        padding-top: 2vh;
        /* background-color: blue; */
    }

    .heading {
        text-align: center;
        margin: 10px;
        padding: 10px;
    }

    .para {
        padding-top: 30px;
        padding-right: 60px;
        padding-bottom: 10px;
        padding-left: 30px;

    }

    button {
        margin: 10px;
        font-size: 1.5rem;
    }

.footer{
        background-image: linear-gradient(to right,#EE6D98,#8A5EBF);
        position: relative;
        top: 20vh;
        
    }
    /* .buttons {
margin: 5px;
} */


    p {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2.5rem;
    }



    @media only screen and (max-width: 767px) {
        img {
            width: 90%;
            padding-left: 5%;
            padding-right: 5%;

        }


    }
    @media only screen and (min-width:768px) and (max-width:991px) {
        .d-block {
            width: 300px;
        }
    }
    @media only screen and (max-width: 991px) {
        .image {
            position: relative;
            top: 60px;
        }
    }

    @media only screen and (min-width: 992px) {
        img{
            width: 46vw;
        }
    }


    .btn-primary:hover {
        background-color: white;
        color: #0A58CA;

    }

    .btn-info:hover {
        background-color: white;
        color: #25CFF2;

    }
</style>
</head>




<div class="title">

    
    

    <div class="container" >


        <div class="heading">
            <h1 style="color: purple;">EASY LOANS</h1>
        </div>



        <div class="row" style="text-align: center;">

            <div class="col-lg-6">
                <div class="para" style="text-align: center; color: purple; ">
                    <p>This is a web-based tool that assists impaired individuals in locating accessible locations
                        such as restaurants, hotels, theatres, parks, and buildings.</p>
                </div>

                    <div class="buttons ms-auto me-auto">
                        <a href="/auth/google"><button type="button" class="btn "
                                style="padding: 10px; width: 250px; font-size: 20px ;background-image:linear-gradient(to right,#EE6D98,#8A5EBF); color:white">Login With <i
                                    class="fab fa-google-plus-g"
                                    style="font-size: 25px;position: relative; top: 2px;"></i> </button></a>
                    </div>
            </div>


            <div class="col-lg-4 image" >
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>

                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/stylesheets/userfriendly.png" class="d-block w-100 col-md-10" alt="..." style="border-radius: 50%; height: 300px;width: 90px;">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                        </div>
                      </div>

                      <div class="carousel-item">
                        <img src="/stylesheets/repay.png" class="d-block w-100 col-md-10 " alt="..." style="border-radius: 50%;height: 300px;width: 90px;">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                          </div>
                      </div>
                     
                      <div class="carousel-item">
                        <img src="/stylesheets/interest.png" class="d-block w-100 col-md-10" alt="..." style="border-radius: 50%; height: 300px;width: 90px;">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                        </div>
                      </div>

                      <div class="carousel-item">
                        <img src="/stylesheets/assets.png" class="d-block w-100 col-md-10" alt="..." style="border-radius: 50%; height: 300px;width: 90px;">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Fourth slide label</h5>
                        </div>
                      </div>
                      
                    </div>
                    
                  </div>
            </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        </div>
    </div>
</div>

